<h1>{{title}}</h1>
<p>Buttons trigger interactions throughout the experience.</p>
<p class="display-4">Primary</p>
<p>Use for highest-priority actions that are required to complete the user’s task.</p>
<button class="btn atlas-primary">A Primary Button</button>
<button class="btn atlas-primary-danger">A Primary Button, But Red</button>
<hr class="atlas-hr">
<p class="display-4">Secondary</p>
<p>Use for non-critical actions.</p>
<button class="btn atlas-secondary">A Secondary Button</button>
<button class="btn atlas-secondary-danger">A Secondary Button, But Red</button>
<hr class="atlas-hr">
<p class="display-4">Tertiary</p>
<p>Use for actions that are not directly tied to the user's current action.</p>
<button class="btn atlas-tertiary">A Tertiary Button</button>
<hr class="atlas-hr">
<p class="display-4">Disabled</p>
<button class="btn atlas-primary" disabled>A Disabled Primary Button</button>
<button class="btn atlas-secondary-danger" disabled>A Disabled Secondary Button</button>
<button class="btn atlas-tertiary" disabled>A Disabled Tertiary Button</button>
<hr class="atlas-hr">
<p class="display-4">Icon Only</p>
<hr class="atlas-hr">
<div class="row">
    <!-- <div class="col-xs-12 col-sm-6 example-col">
        <p>Tabs</p>
        <kendo-buttongroup [selection]="'single'">
            <button class="atlas-tab-button" kendoButton [toggleable]="true">Heading 1</button>
            <button class="atlas-tab-button" kendoButton [toggleable]="true">Heading 2</button>
        </kendo-buttongroup>
    </div> -->
    <!-- <div class="col-xs-12 col-sm-6 example-col">
        <p>Multiple selection mode</p>
        <kendo-buttongroup>
            <button kendoButton [toggleable]="true" [icon]="'bold'"></button>
            <button kendoButton [toggleable]="true" [icon]="'italic'"></button>
            <button kendoButton [toggleable]="true" [icon]="'underline'"></button>
        </kendo-buttongroup>
    </div> -->
</div>