/* FOR ADS ONLY / NO NEED TO COPY THIS INTO THE REGULAR REPO */


@mixin breakpoint-highlighter {
    background-color: $atlas-white;
    color: $JC-blue;
    border: 10px solid $JC-cyan;
    border-radius: $atlas-border-radius;
}
.atlas-breakpoint-detection {
    li {
        border-bottom: 1px solid $atlas-line-color;
        &:first-child {
            @media #{$atlas-mobile-xs-range} {
                @include breakpoint-highlighter;
            }
        }
        &:nth-child(2) {
            @media #{$atlas-mobile} {
                @include breakpoint-highlighter;
            }
        }
        &:nth-child(3) {
            @media #{$atlas-tablet} {
                @include breakpoint-highlighter;
            }
        }
        &:nth-child(4) {
            @media #{$atlas-desktop} {
                @include breakpoint-highlighter;
            }
        }
        &:last-child {
            @media #{$atlas-desktop-lg} {
                @include breakpoint-highlighter;
            }
            border: none;
        }
        p {
            color: $atlas-black;
        }
    }
}

.atlas-breakpoint-example {
    [class^=col-] {
        border:1px solid $JC-blue;
        background-color: $atlas-white;
        padding-top: $atlas-spacing-base-three-quarters;
        padding-bottom:$atlas-spacing-base-three-quarters;
    }
}

.atlas-padding-example {
    -webkit-box-shadow: inset 64px 64px 0 #c7dcbf, inset -64px -64px #c7dcbf;
    box-shadow: inset 64px 64px 0 #c7dcbf, inset -64px -64px #c7dcbf;
    padding: 64px;
}

.atlas-margin-wrapper-example {
   // background-color: #f5c997;.  
   border:1px solid  #f5c997;
    .atlas-margin-example {
        // -webkit-box-shadow: inset 64px 64px 0 #c7dcbf, inset -64px -64px #c7dcbf;
        // box-shadow: inset 64px 64px 0 #c7dcbf, inset -64px -64px #c7dcbf;
        margin: 64px;
        border:5px solid  #f5c997;
       // background-color: #f5c997;
    }
}

.atlas-cursor-pointer {
    cursor: pointer;
}

/*Atlas Bootstrap Sliding Modal*/
// .atlas-bs-modal {
//     .modal-dialog-slideout {
//         min-height: 100%;
//         margin: 0 0 0 auto;
//         background: #fff;
//         &.modal-small {
//             max-width: 345px;
//             @media only screen and (max-width: 767.98px) {
//                 max-width: 100%;
//             }
//         }
//         .modal-content {
//             border: 0;
//         }
//         .modal-header {
//             height: auto;
//             display: block;
//         }
//         .modal-footer {
//             height: auto;
//             display: block;
//         }
//     }
//     .modal.fade {
//         .modal-dialog.modal-dialog-slideout {
//             -webkit-transform: translate(100%,0)scale(1);
//             transform: translate(100%,0)scale(1);
//         }
//     }
//     .modal.fade.show {
//         .modal-dialog.modal-dialog-slideout {
//             transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
            
//             -webkit-transform: translate(0,0);
//             -ms-transform: translate(0,0);
//             -o-transform:  translate(0,0);
//             transform: translate(0,0);
//             display: flex;
//             align-items: stretch;
//             -webkit-box-align: stretch;
//             height: 100%;
//             .modal-body {
//                 overflow-y: auto;
//                 overflow-x: hidden;
//             }
//         }
//     }
// }
// body:not(.modal-open){
//     padding-right: 0px !important;
// }
/*Atlas Bootstrap Sliding Modal*/
