
    <button class="btn atlas-primary" *ngIf="!dialogOpened && !windowOpened" (click)="open('dialog')">Open dialog</button>
    <!-- <button kendoButton *ngIf="!dialogOpened && !windowOpened" (click)="open('window')">Open window</button> -->
    <kendo-dialog class="atlas-dialog" title="Title of a Modal" *ngIf="dialogOpened" (close)="close('dialog')">
        <p class="atlas-m-8 text-center">Are you sure you want to continue?</p>
        <kendo-dialog-actions>
            <button class="btn atlas-primary"  (click)="action('yes')" *ngIf="dialogOpened">Yes</button>
            <!-- <button class="btn atlas-secondary"  (click)="action('no')">No</button> -->
        </kendo-dialog-actions>
    </kendo-dialog>
<!-- 
    <kendo-window [minWidth]="200" [minHeight]="125" title="About" *ngIf="windowOpened" (close)="close('window')">
      <p style="text-align: center;">Additional info</p>
    </kendo-window> -->
<p>Note to Afftene: Find out why buttons don't appear</p>

  
