<p>Currently Testing Sliding Modals</p>

<button class="btn atlas-primary" *ngIf="!dialogOpened && !windowOpened" (click)="open('dialog')">Open Kendo Dialog</button>

<!-- <kendo-dialog class="atlas-dialog" title="Title of a Modal" *ngIf="dialogOpened" (close)="close('dialog')">
    <p class="atlas-m-8 text-center">Are you sure you want to continue?</p>
    <kendo-dialog-actions>
        <button class="btn atlas-primary"  (click)="action('yes')" *ngIf="dialogOpened">Yes</button>
        <button class="btn atlas-secondary"  (click)="action('no')">No</button>
    </kendo-dialog-actions>
</kendo-dialog> -->

<!-- Sliding Kendo Modal-->
<kendo-dialog [@slideInOut] class="atlas-sliding-kendo-dialog atlas-dialog atlas-dialog-sm" title="Title of a Modal" *ngIf="dialogOpened" (close)="close('dialog')">
<p class="atlas-m-8 text-center">Are you sure you want to continue?</p>
<kendo-dialog-actions>
    <button class="btn atlas-primary"  (click)="action('yes')" *ngIf="dialogOpened">Yes</button>
    <button class="btn atlas-secondary"  (click)="action('no')">No</button>
</kendo-dialog-actions>
</kendo-dialog>
<!-- Sliding Kendo Modal-->