<!-- Sliding Bootstrap Modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4" data-backdrop="static" data-keyboard="false">
    Open Bootstrap Modal
    </button>
    <div class="atlas-bs-modal">
    <div class="modal fade pr-0" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout modal-small" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal sideout small</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
            <p>Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words, sentences or paragraphs. Commonly used as placeholder text in the graphic and print industries, Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero in the middle ages.</p>
            <p>Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words, sentences or paragraphs. Commonly used as placeholder text in the graphic and print industries, Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero in the middle ages.</p>
            <p>Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words, sentences or paragraphs. Commonly used as placeholder text in the graphic and print industries, Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero in the middle ages.</p>
            <p>Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of characters, words, sentences or paragraphs. Commonly used as placeholder text in the graphic and print industries, Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero in the middle ages.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    </div> -->
    <!-- Sliding Bootstrap Modal -->
     <!-- <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Lilypad Medical Group </p>
                                    <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> Past Due: 7 Days </p>
                                    <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>
                                
                                
                                -->
                                  
    <div class="row atlas-mb-4">
        <div class="col-lg-8 col-md-7">
            <div class="card atlas-card atlas-card-raised atlas-mb-6">
                <div class="atlas-card-title-forward atlas-card-title-wrapper atlas-border-bottom-lg-0" tabindex="0">
                    <h3 class="atlas-card-title-xl">Time<i class="fal fa-chevron-right float-right atlas-pr-2" aria-hidden="true"></i></h3>
                </div>
                <div class="p-lg-3 atlas-white-gray-bg">
                    <!-- START Example: When User Has At Least 1 Timesheet -->
                    <ul class="list-unstyled atlas-mb-0">
                        <!-- START Example: More Than 1 Declined/Past Due Timesheet -->
                         <li class="d-lg-inline-block atlas-lg-w-50 pr-lg-2 align-middle">
                             <div role="button" tabindex="0" class="atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card atlas-card-sharp atlas-border-left-danger mb-lg-3">
                                <i class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2" aria-hidden="true"></i>
                                <div class="my-auto pl-3 pr-2">
                                    <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> # Declined/Past Due Timesheets </p>
                                </div>
                             </div>
                        </li>
                        <!-- END Example: More Than 1 Declined/Past Due Timesheet -->
                        <!-- START Example: 1 Past Due/Declined Timesheet -->
                         <li class="d-lg-inline-block atlas-lg-w-50 align-middle">
                            <div role="button" tabindex="0" class="atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 
                            atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card 
                            atlas-card-sharp atlas-border-left-danger mb-lg-3">
                                <i class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2" aria-hidden="true"></i>
                                <div class="pl-3 pr-2 my-auto">
                                    <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>
                                    <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> Past Due: # Days </p>
                                    <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>
                                </div>
                             </div>
                        </li>
                        <!-- END Example: 1 Past Due/Declined Timesheet -->
                        <!-- START Example: 1 Current Timesheet -->
                        <li class="atlas-cursor-pointer d-lg-inline-block atlas-lg-w-50 pr-lg-2 align-middle">
                            <div role="button" tabindex="0" class="atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 atlas-border-right-lg-0 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0">
                                <i class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2" aria-hidden="true"></i>
                                <div class="pl-3 pr-2 my-auto">
                                    <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name</p>
                                    <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>
                                    <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>
                                </div>
                             </div>
                        </li>
                        <!-- END Example: 1 Current Timesheet -->
                        <!-- START Example: Current Timesheet -->
                        <li class="atlas-cursor-pointer d-lg-inline-block atlas-lg-w-50 align-middle">
                            <div role="button" tabindex="0" class="atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0 atlas-border-right-lg-0">
                                <i class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2" aria-hidden="true"></i>
                                <div class="pl-3 pr-2 my-auto">
                                    <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>
                                    <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>
                                    <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>
                                </div>
                             </div>
                        </li>
                         <!-- START Current Timesheet -->
                    </ul>
                    <!-- END Example: When User Has At Least 1 Timesheet -->
                    <!--START Example: When User Has No Timesheet  -->
                    <div class="text-center mx-auto py-4">
                    <p class="atlas-mb-2">You have no electronic timesheets 
                        at this time.</p>
                        <i class="fas fa-clock fa-4x atlas-gray-text"></i>
                    </div>
                    <!-- END Example: When User  Has No Timesheet -->
                </div>
                <!-- START When There Are More Than 4 Timesheets -->
                <div class="atlas-card-footer bg-white text-center">
                   <p class="atlas-mb-0"><a href="#/lala" class="atlas-link float-none"># More Timesheets</a></p>
                </div>
                <!-- END When There Are More Than 4 Timesheets -->
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="card atlas-card atlas-list-group atlas-card-raised mb-2">
                <div class="atlas-card-title-forward atlas-card-title-wrapper" tabindex="0">
                    <h3 class="atlas-card-title-xl">Expense<i class="fal fa-chevron-right float-right atlas-pr-2"></i></h3>
                </div>
                <div class="list-group list-group-flush border-left-0">
                </div>
            </div>
        </div>
    </div>

    <div class="row atlas-mb-4">
        <div class="col-lg-8 col-md-7">
            <div class="card atlas-card atlas-card-raised atlas-mb-6">
                <div class="atlas-card-title-forward atlas-card-title-wrapper atlas-border-bottom-lg-0" tabindex="0">
                    <h3 class="atlas-card-title-xl">Time<i class="fal fa-chevron-right float-right atlas-pr-2" aria-hidden="true"></i></h3>
                </div>
                <div class="p-lg-3 atlas-white-gray-bg">
                    <ul class="list-unstyled atlas-mb-0">	
                        <li class="d-lg-inline-block atlas-lg-w-50 pr-lg-2 align-middle">	
                           <div class="atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 
                           atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card 
                           atlas-card-sharp atlas-border-left-danger mb-lg-3" role="button" tabindex="0">	
                              <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                              <div class="my-auto pl-3 pr-2">	
                                 <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> # Declined/Past Due Timesheets </p>	
                              </div>	
                           </div>	
                        </li>	
                        <li class="d-lg-inline-block atlas-lg-w-50 align-middle">	
                           <div class="atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 	
                              atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card 	
                              atlas-card-sharp atlas-border-left-danger mb-lg-3" role="button" tabindex="0">	
                              <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                              <div class="pl-3 pr-2 my-auto">	
                                 <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>	
                                 <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> Past Due: # Days </p>	
                                 <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                              </div>	
                           </div>	
                        </li>	
                        <li class="atlas-cursor-pointer d-lg-inline-block atlas-lg-w-50 pr-lg-2 align-middle">	
                           <div class="atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 atlas-border-right-lg-0 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0" role="button" tabindex="0">	
                              <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                              <div class="pl-3 pr-2 my-auto">	
                                 <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name</p>	
                                 <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>	
                                 <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                              </div>	
                           </div>	
                        </li>	
                        <li class="atlas-cursor-pointer d-lg-inline-block atlas-lg-w-50 align-middle">	
                           <div class="atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0 atlas-border-right-lg-0" role="button" tabindex="0">	
                              <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                              <div class="pl-3 pr-2 my-auto">	
                                 <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>	
                                 <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>	
                                 <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                              </div>	
                           </div>	
                        </li>	
                     </ul>
                </div>
                <div class="atlas-card-footer bg-white text-center">
                   <p class="atlas-mb-0"><a href="#/lala" class="atlas-link float-none"># More Timesheets</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="card atlas-card atlas-list-group atlas-card-raised mb-2">
                <div class="atlas-card-title-forward atlas-card-title-wrapper" tabindex="0">
                    <h3 class="atlas-card-title-xl">Expense<i class="fal fa-chevron-right float-right atlas-pr-2"></i></h3>
                </div>
                <div class="list-group list-group-flush border-left-0">
                </div>
            </div>
        </div>
    </div>

    <div class="row atlas-mb-4">
        <div class="col-lg-8 col-md-7">
            <div class="card atlas-card atlas-card-raised atlas-mb-6">
                <div class="atlas-card-title-forward atlas-card-title-wrapper atlas-border-bottom-lg-0" tabindex="0">
                    <h3 class="atlas-card-title-xl">Time<i class="fal fa-chevron-right float-right atlas-pr-2" aria-hidden="true"></i></h3>
                </div>
                <div class="p-lg-3 atlas-white-gray-bg">
                    <div class="d-flex flex-wrap">
                        <div class="atlas-lg-w-49 atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 
                        atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card 
                        atlas-card-sharp atlas-border-left-danger mb-lg-3" role="button" tabindex="0">	
                           <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                           <div class="my-auto pl-3 pr-2">	
                              <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> # Declined/Past Due Timesheets </p>	
                           </div>	
                        </div>
                        <div class="atlas-lg-w-49 atlas-ie-vertical-center atlas-hover-danger-light atlas-min-height-90 	
                              atlas-border-right-lg-0 atlas-border-bottom-lg-0 atlas-cursor-pointer card atlas-card 	
                              atlas-card-sharp atlas-border-left-danger mb-lg-3" role="button" tabindex="0">	
                              <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                              <div class="pl-3 pr-2 my-auto">	
                                 <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>	
                                 <p class="atlas-mb-0 atlas-danger-text atlas-font-weight-bold"> Past Due: # Days </p>	
                                 <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                              </div>	
                        </div>
                        <div class="atlas-lg-w-49 atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 atlas-border-right-lg-0 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0" role="button" tabindex="0">	
                            <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                            <div class="pl-3 pr-2 my-auto">	
                               <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name</p>	
                               <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>	
                               <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                            </div>	
                         </div>
                         <div class="atlas-lg-w-49 atlas-ie-vertical-center atlas-hover-success-light atlas-min-height-90 card atlas-card atlas-card-sharp atlas-border-left-success atlas-border-bottom-lg-0 atlas-border-right-lg-0" role="button" tabindex="0">	
                            <i aria-hidden="true" class="fal fa-chevron-right position-absolute atlas-right pr-2 pt-2"></i>	
                            <div class="pl-3 pr-2 my-auto">	
                               <p class="atlas-mb-0 atlas-font-weight-bold w-75 text-truncate"> Hospital Name </p>	
                               <p class="atlas-mb-0"><span class="atlas-font-weight-bold">Due:</span> May 4 </p>	
                               <p class="atlas-mb-0  w-75 text-truncate">Week of Apr 26 - May 2</p>	
                            </div>	
                         </div>				
                    </div>
                </div>     
            </div>
        </div>
    </div>  

    


    <!-- <div class="row">
        <div class="col-xs-12 col-sm-4" style="background-color: red">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula a odio a tristique. Donec tempus viverra interdum. Nullam quis facilisis dolor. Phasellus sed justo ac risus sagittis molestie. Nulla varius ac erat eget luctus. Cras et suscipit lacus. In sollicitudin tempus risus, eu sodales lectus rhoncus non. Vivamus ipsum lacus, pharetra sed rhoncus eu, elementum non nunc. Integer nunc enim, pretium non hendrerit ac, placerat vel urna. Aenean tincidunt lectus ante, a pretium orci mollis a. Etiam posuere nunc sit amet leo dignissim, et malesuada ligula fringilla. In non est a mi scelerisque imperdiet et id libero.
        </p>
        </div>
        <div class="col-xs-6 col-sm-4" style="background-color: yellow">
        no kittenz :(
        <img src="http://placehold.it/100x150">
        </div>
        <div class="col-xs-6 col-sm-4" style="background-color: pink">
        some more content
        </div>
      </div> -->
    <!-- <div style="border: 5px solid black; width:200px" class="">
    <div class="atlas-mt-16">
        Text
    </div>
    </div> -->