<!-- BEGIN HEADER -->
<header class="atlas-header">
    <div class="atlas-header-logo-container py-2">
      <!-- BEGIN LOGO -->
        <a href="index.html" class="jclt-logo-link">
          <img src="assets\images\JCLT-LogoHorWhite.svg" alt="Jackson & Coker Time & Expense"> 
        </a>
      <!-- END LOGO -->
      <!-- BEGIN MENU HAMBURGER BUTTON -->
        <!-- BEGIN DESKTOP BUTTON -->
        <button class="btn atlas-nav-menu-button d-none d-lg-inline-block bg-transparent" (click)="data.toggle()">
          <i class="fal fa-bars fa-2x"></i>
        </button>
        <!-- END DESKTOP BUTTON -->
        <!-- BEGIN MOBILE BUTTON -->
        <button class="btn atlas-nav-menu-button d-lg-none bg-transparent" (click)="data.toggleMobile()">
          <i class="fal fa-bars fa-2x"></i>
        </button>
        <!-- END DESKTOP BUTTON -->
       <!-- END MENU HAMBURGER BUTTON -->
    </div>
    <span class="atlas-header-date-text atlas-lg-text d-none d-lg-inline-block atlas-pl-8 float-left position-absolute"> {{today | date:'fullDate'}}</span>
    <!-- BEGIN DROPDOWN MENU-->
    <div class="atlas-dropdown atlas-header-dropdown float-right">
      <div class="dropdown">
        <button class="btn dropdown-toggle bg-transparent atlas-lg-text text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-lg"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right atlas-card atlas-card-raised atlas-card-sharp" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Reset Password</a>
          <a class="dropdown-item" href="#">Edit Email Address</a>
          <a class="dropdown-item" href="#">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
    <!-- END DROPDOWN MENU--> 
</header>

<!-- END HEADER -->
<!-- BEGIN IMPERSONATION -->
<!-- <div class="atlas-card-tab" id="atlas-impersonation" *ngIf="impersonatingHeader">
  <div class="atlas-card-tab-body atlas-danger-bg">
    <button class="btn atlas-tertiary bg-white p-1">Stop</button>
    <p class="mb-0">Impersonating: John Doe </p>
  </div>
</div> -->
<!-- END IMPERSONATION -->