<!-- BEGIN HEADER -->
<header class="atlas-header">
    <div class="atlas-header-logo-container py-2">
      <!-- BEGIN LOGO -->
        <a href="index.html" class="jclt-logo-link">
          <img src="assets\images\jcte-logo.svg" alt="Jackson & Coker Time & Expense"> 
        </a>
      <!-- END LOGO -->
      <!-- BEGIN MENU HAMBURGER BUTTON -->
        <button class="btn atlas-nav-menu-button bg-transparent" (click)="expansionMenuDesktop()">
          <i class="fal fa-bars fa-2x"></i>
        </button>
       <!-- END MENU HAMBURGER BUTTON -->
    </div>
    <span class="atlas-md-text d-none d-lg-block atlas-pl-8"> {{today | date:'fullDate'}}</span>
</header>
<!-- END HEADER -->
