<!-- BEGIN HEADER -->
<header class="atlas-header">
    <div class="atlas-header-container pl-3 py-2">
      <!-- BEGIN LOGO -->
   
        <a href="index.html" class="jclt-logo-link">
          <img src="assets\images\jcte-logo.svg" width="130" height="58" alt="Jackson & Coker Time & Expense"> 
        </a>
      
      <!-- END LOGO -->
      <!-- BEGIN MENU HAMBURGER BUTTON -->
      <!-- [ngClass]="{'float-right': navExpanded}" -->
      
        <button class="btn atlas-nav-menu-button" (click)="expansionMenu()">
          <i class="fas fa-bars fa-2x"></i>
        </button>
    
       <!-- END MENU HAMBURGER BUTTON -->
    </div>
</header>
<!-- END HEADER -->
