<h1 class="display-1 text-center">Atlas Design System</h1>
<hr class="atlas-hr-line atlas-mb-16">
<!-- <script type="text/plain" class="language-css">
    <p>Example</p>
    </script> -->
<!-- <pre class="language-markup"><code class="language-css">p {{ '{' }} color: red {{ '}' }}</code></pre> -->
<div class="card atlas-card atlas-mb-15 atlas-card-raised">
    <div class="atlas-card-title-wrapper">
        <h3 class="atlas-card-title">Component Status</h3>
    </div>
    <div class="atlas-card-body">
        <p>Track the status of UI components across HTML and Web Component libraries.</p>
        <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let status of componentStatus">
                <span *ngIf="status.available"> <i class="fas fa-check-circle atlas-jc-green-text"></i></span> 
                <span *ngIf="status.inProgress"> <i class="fas fa-sync-alt atlas-jc-cyan-text"></i></span> 
                <span *ngIf="status.deprecated"> <i class="fas fa-exclamation-circle atlas-danger-text"></i></span>
                <span *ngIf="status.upcoming"> <i class="fas fa-ellipsis-h"></i></span> 
                {{status.text}} 
            </li>
        </ul>
        <div class="atlas-table table-responsive atlas-mb-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">HTML/CSS</th>
                        <th scope="col">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Component Name</th>
                        <td>Status of HTML and CSS</td>
                        <td>Version Number</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
