<nav aria-label="breadcrumb" class="atlas-mb-2">
    <ol class="atlas-breadcrumb">
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Home</a></li>
        <li class="atlas-breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
</nav>
<h1>{{title}}</h1>
<p>Define accordions and why we use them here.</p>
<hr class="atlas-hr atlas-mb-16">
<div class="atlas-accordion atlas-mb-16">
    <div class="accordion atlas-mb-5" id="accordionExample">
        <!-- Begin First Accordion Row-->
        <div class="atlas-card card">
            <h2 class="atlas-mb-0">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Row 1
                </button>
            </h2>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="atlas-card-body">
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                    Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                   </p>
              </div>
          </div>
        </div>
        <!-- End First Accordion Row-->
        <!-- Begin Second Accordion Row-->
        <div class="atlas-card card">
          <div id="headingTwo">
            <h2 class="atlas-mb-0">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Accordion Row 2
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="atlas-card-body">
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                    Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                   </p>
            </div>
          </div>
        </div>
        <!-- End Second Accordion Row-->
        <!-- Begin Third Accordion Row-->
        <div class="atlas-card card">
          <div id="headingThree">
            <h2 class="atlas-mb-0">
              <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Row 3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="atlas-card-body">
               <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
               </p>
            </div>
          </div>
        </div>
        <!-- End Third Accordion Row-->
    </div>
</div>
<hr class="atlas-hr atlas-mb-16">

<div class="card atlas-card atlas-card-raised">
    <div class="atlas-card-body">
        <div class="atlas-accordion-alt atlas-mb-5">
            <div class="accordion atlas-mb-5" id="accordionExample">
                <!-- Begin First Accordion Row-->
                <div class="atlas-card card atlas-mb-3">
                    <h2 class="atlas-mb-0">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOneAlt" aria-expanded="true" aria-controls="collapseOne">
                         <strong> Accordion Row 1 </strong>
                        </button>
                    </h2>
              
                  <div id="collapseOneAlt" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="atlas-card-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </p>
                      </div>
                  </div>
                </div>
                <!-- End First Accordion Row-->
                <!-- Begin Second Accordion Row-->
                <div class="atlas-card card atlas-mb-3">
                  <div id="headingTwo">
                    <h2 class="atlas-mb-0">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoAlt" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Accordion Row 2 </strong>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwoAlt" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="atlas-card-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </p>
                    </div>
                  </div>
                </div>
                <!-- End Second Accordion Row-->
                <!-- Begin Third Accordion Row-->
                <div class="atlas-card card atlas-mb-3">
                  <div id="headingThree">
                    <h2 class="atlas-mb-0">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeAlt" aria-expanded="false" aria-controls="collapseThree">
                        <strong> Accordion Row 3 </strong>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThreeAlt" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="atlas-card-body">
                       <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </p>
                    </div>
                  </div>
                </div>
                <!-- End Third Accordion Row-->
            </div>
        </div>
    </div>
</div>
