/*Spacing Variables are located src/assets/scss/base/_atlas-variables.scss*/

//Margin
@include generate(atlas-m, margin);
@include generate(atlas-ml, margin-left);
@include generate(atlas-mr, margin-right);
@include generate(atlas-mt, margin-top);
@include generate(atlas-mb, margin-bottom);

//Padding
@include generate(atlas-p, padding);
@include generate(atlas-pl, padding-left);
@include generate(atlas-pr, padding-right);
@include generate(atlas-pt, padding-top);
@include generate(atlas-pb, padding-bottom);

//Axes
@include generateAxes(atlas-my, margin-top, margin-bottom);
@include generateAxes(atlas-mx, margin-left, margin-right);
@include generateAxes(atlas-py, padding-top, padding-bottom);
@include generateAxes(atlas-px, padding-left, padding-right);

//Auto
@include generateAuto(atlas-mt, margin-top);
@include generateAuto(atlas-mb, margin-bottom);
@include generateAuto(atlas-ml, margin-left);
@include generateAuto(atlas-mr, margin-right);



.atlas-mx-auto {
    @include generateAuto(atlas-ml, margin-left);
    @include generateAuto(atlas-mr, margin-right);
}
.atlas-my-auto {
    @include generateAuto(atlas-mt, margin-top);
    @include generateAuto(atlas-mb, margin-bottom);
}

.atlas-top {
    top: 0
}
.atlas-bottom {
    bottom: 0
}
.atlas-left {
    left: 0
}
.atlas-right {
    right: 0
}

.atlas-gutters {
    margin-left: auto;
    margin-right: auto;
    @media #{$atlas-desktop-lg} {
        max-width: 1200px;
    }
}

.row.display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    }
    .row.display-flex > [class*='col-'], .row.display-flex > [class*='col'] {
        display: flex;
        flex-direction: column;
    }

#test {
    .atlas-half-lg-column {
        width: 50%;
        display: inline-block;
        @media #{$atlas-tablet-max} {
            width: 100%;
            display: block;
        }
        &:nth-child(odd) {
            padding-right: $atlas-spacing-base-half;
            @media #{$atlas-tablet-max} {
            padding-right: $atlas-spacing-base-0;
            }
        }
    }
}