
/*BACKGROUND COLORS*/
/*BRAND*/
.atlas-jc-blue-bg {
    background-color: $JC-blue;
}
.atlas-jc-orange-bg {
    background-color: $JC-orange;
}
.atlas-jc-green-bg {
    background-color: $JC-green;                    
}
.atlas-jc-cyan-bg {
    background-color: $JC-cyan;              
}
/*DERIVATIVE*/
.atlas-jc-cyan-dark-bg {
    background-color: $JC-cyan-dark;
}
.atlas-jc-cyan-light-bg {
    background-color: $JC-cyan-light;
}
.atlas-jc-cyan-extra-light-bg {
    background-color: $JC-cyan-extra-light
}
.atlas-blue-light-bg {
    background-color: $JC-blue-light;
}
/*SUCCESS, CAUTION, ERROR*/
.atlas-caution-bg {
    background-color: $atlas-caution;
}
.atlas-error-bg {
    background-color: $atlas-error;
}
.atlas-error-hover-bg {
    background-color: $atlas-error-hover;
}
.atlas-secondary-error-hover-bg {
    background-color: $atlas-secondary-error-hover;
}
/*NEUTRAL*/
.atlas-white-bg {
    background-color: $atlas-white;
}
.atlas-white-gray-bg {
    background-color: $atlas-white-gray;
}
.atlas-off-white-two-bg {
    background-color: $atlas-off-white-two;
}
.atlas-off-white-bg {
    background-color: $atlas-off-white;
}
.atlas-gray-bg {
    background-color: $atlas-gray
}
// .atlas-gray-two-bg {
//     background-color: $gray-two;
// }
// .atlas-gray-three-bg {
//     background-color: $gray-three;
// }
.atlas-blue-gray-bg {
    background-color: $atlas-blue-gray;
}
.atlas-darker-gray-bg {
    background-color: $atlas-darker-gray;
}
.atlas-dark-gray-bg {
    background-color: $atlas-dark-gray;
}
.atlas-black-bg {
    background-color: $atlas-black;
}

/*SELCTION COLORS*/
::selection {
    color: $atlas-white;
    background: $JC-blue;
}