
/*BACKGROUND COLORS*/
/*BRAND*/
.atlas-jc-blue-bg {
    background-color: $JC-blue;
}
.atlas-jc-orange-bg {
    background-color: $JC-orange;
}
.atlas-jc-green-bg, .atlas-success-bg {
    background-color: $JC-green;                    
}
.atlas-jc-cyan-bg {
    background-color: $JC-cyan;              
}
/*BLUES*/
// .atlas-blue-gray-bg {
//     background-color: $atlas-blue-gray;
// }
.atlas-blue-light-bg {
    background-color: $JC-blue-light;
}
.atlas-jc-cyan-extra-light-bg {
    background-color: $JC-cyan-extra-light
}
.atlas-jc-cyan-light-bg {
    background-color: $JC-cyan-light;
}
.atlas-jc-cyan-dark-bg {
    background-color: $JC-cyan-dark;
}




/*SUCCESS, CAUTION, ERROR*/
.atlas-success-dark-bg {
    background-color: $atlas-success-dark;                 
}
.atlas-success-light-bg {
    background-color: $atlas-success-light;            
}
.atlas-caution-bg {
    background-color: $atlas-caution;
}
.atlas-caution-dark-bg {
    background-color: $atlas-caution-dark;
}
.atlas-caution-light-bg {
    background-color: $atlas-caution-light;
}
.atlas-error-bg {
    background-color: $atlas-error;
}
.atlas-error-dark-bg {
    background-color: $atlas-error-dark;
}
.atlas-error-light-bg {
    background-color: $atlas-error-light;
}
/*NEUTRAL*/
.atlas-white-bg {
    background-color: $atlas-white;
}
.atlas-off-white-bg {
    background-color: $atlas-off-white;
}
.atlas-off-white-two-bg {
    background-color: $atlas-off-white-two;
}
.atlas-white-gray-bg {
    background-color: $atlas-white-gray;
}
.atlas-gray-bg {
    background-color: $atlas-gray
}
.atlas-dark-gray-bg {
    background-color: $atlas-dark-gray;
}
.atlas-darker-gray-bg {
    background-color: $atlas-darker-gray;
}
.atlas-black-bg {
    background-color: $atlas-black;
}

/*TEXT COLORS*/
/*BRAND*/
.atlas-jc-blue {
    color: $JC-blue;
}
.atlas-jc-orange {
    color: $JC-orange;
}
.atlas-jc-green {
    color: $JC-green;                    
}
.atlas-jc-cyan {
    color: $JC-cyan;
}
/*SUCCESS, CAUTION, ERROR*/
.atlas-caution {
    color: $atlas-caution;
}
.atlas-error {
    color: $atlas-error;
}

/*SELCTION COLORS*/
::selection, .k-text-selection ::selection, .k-block ::selection, .k-panel ::selection, .k-widget ::selection {
    @include atlas-selection;
}

// body {
//     /* width */
// ::-webkit-scrollbar {
//     width: 7px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #ffffff; 
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: transparent;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #cccccc; 
//     opacity: 0.4;
//     border-radius: 7px;
//   }
// }
