body {
    font-family:$atlas-font-family-sans-serif;
    color: $font-color;
    font-size: $atlas-font-size-base;
}

.h1, h1 {
    font-size: $h1-font-size;
    font-weight: $atlas-font-weight-bold;
}
.h2, h2 {
    font-size: $h2-font-size;
    font-weight: $atlas-font-weight-normal;

}
.h3, h3 {
    font-size: $h3-font-size;
    font-weight: $atlas-font-weight-normal;

}
.h4, h4 {
    font-size: $h4-font-size;
    font-weight: $atlas-font-weight-normal;
    // font-weight: $atlas-font-weight-light;

}
.h5, h5 {
    font-size: $h5-font-size;
    font-weight: $atlas-font-weight-normal;

}
.h6, h6 {
    font-size: $h6-font-size;

}
.atlas-link {
    color: $JC-cyan;
    font-weight: $atlas-font-weight-normal;
    &:hover {
        color: $JC-blue;
    }
    &:visited {
        color: $JC-blue;
        text-decoration: none;
    }
}
.atlas-card-title {
    font-size: $h6-font-size;
    font-weight: $atlas-font-weight-bold;
}

.atlas-card-title-lg {
	 font-size: $h5-font-size;
	 font-weight: $atlas-font-weight-bold;
 }
 .atlas-card-title-xl {
	font-size: $h4-font-size;
	font-weight: $atlas-font-weight-bold;
}
.atlas-semi-heading {
    color: $JC-blue;
    text-transform: uppercase;
    font-weight: $atlas-font-weight-bold;
}

.atlas-detailed-body-text {
    color: $atlas-dark-gray;
    font-weight: $atlas-font-weight-bold;
}

.atlas-detailed-body-text-dark {
    color: $atlas-black;
    font-weight: $atlas-font-weight-bold;
}

.atlas-small-text {
    font-size: $atlas-font-small;
}
.atlas-smaller-text {
    font-size: $atlas-font-smaller;
}
.atlas-smallest-text {
    font-size: $atlas-font-smallest;
}
.atlas-text-slim {
    margin: $atlas-spacing-base-0;
}
.atlas-hr  {
    border-top: 1px solid $atlas-gray;
}