<h1>Cards</h1>
<div class="row">
    <div class="col-md-9">
        <p>Cards are fully flexible, adaptable, and extensible containers. They allow for multiple sections, headers, footers, contextual background colors and borders, 
            and supports any content within the card.</p>
    </div>
</div>
<hr class="atlas-hr">

<section class="atlas-section atlas-mb-16">
    <h2>Basic Card</h2>
    <p>The most basic implementation of a card takes up the entire room available on the page. This is useful for dividing content on the page into easy to digest sections 
        or calling attention to a specific grouping of content.
    </p>
    <div class="card atlas-mb-8">
        <div class="card atlas-card m-3 p-3" atlas-altitude='basic'>
            Basic Card
        </div>
    </div>

    <h3>Cards Within Grid</h3>
    <p>The most basic implementation of a card takes up the entire room available on the page. This is useful for dividing content on the page into easy to digest sections 
        or calling attention to a specific grouping of content.
    </p>
    <div class="card">
        <div class="row">
            <div class="col-md-3" *ngFor="let card of [0,1,2,3]">
                <div class="atlas-card m-3 p-3" atlas-altitude='basic'>
                    Basic Card
                </div>
            </div>
        </div>
    </div>
</section>

<section class="atlas-section atlas-mb-16">
    <h2>Card Altitudes</h2>
    <p>
        Changing the [altitude] attribute can change the visual aesthetic of the card. 
        There are three types of altitudes: basic, raised, and base.
    </p>
    <div class="mb-4" *ngFor="let card of cardAltitudes">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="atlas-card m-3 p-3" [attr.atlas-altitude]="card.cardAltitude">
                        {{card.cardType}} Card
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="atlas-card p-3" atlas-altitude='basic'>
                    <p class="atlas-detailed-body-text-dark atlas-text-slim">{{card.cardBenefitHeading}}</p>
                    <p class="atlas-text-slim">{{card.cardBenefitContent}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="atlas-section atlas-mb-16">
    <h2>Card Border Radii Variations</h2>
    <p>
        Border radius represents the curvature in the border of a particular element. 
        Cards can be changed to suit the needs of the page by adding one or more variations.
        <!-- There are three types of border radii: sharp, curve, and circle. Circle cards will be addressed on <a href="#" class="atlas-link">another page</a>. -->
    </p>
    <div class="mb-4">
        <div class="row">
            <div class="col-md-6" *ngFor="let card of cardBorderRadii; let i = index">
                <div class="mb-3">
                    <div class="atlas-card p-3"  [ngClass]="card.className" [attr.atlas-altitude]="card.cardAltitude" [attr.atlas-border-radius]="card.cardBorderRadii">
                        {{card.cardType}} Card
                    </div>
                </div>
                <div class="atlas-card p-3" atlas-altitude='basic'>
                    <p class="atlas-detailed-body-text-dark atlas-text-slim">{{card.cardBenefitHeading}}</p>
                    <p class="atlas-text-slim">{{card.cardBenefitContent}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <p>Modifying cards to a circle is as easy as changing the atlas-border-radius attribute and choosing a atlas-card-circle** class</p> -->
    <!-- <div class="row" *ngFor="let card of circleCards; let i = index">
        <div class="col-lg-3">
            <div class="atlas-card p-3"  [ngClass]="card.className" atlas-altitude="basic" atlas-border-radius="circle">
            </div>
        </div>
    </div> -->
</section>
<section class="atlas-section atlas-mb-16">
    <h2>Other Card Examples</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card atlas-card">
                <div class="atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">Card with Heading</h3>
                </div>
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card atlas-card">
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                
                </div>
                <div class="atlas-card-footer">
                    <p class="atlas-text-slim">Card with Footer</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="atlas-line  atlas-mb-16">
    <div class="row">
        <div class="col-md-6">
            <div class="card atlas-card">
                <div class="atlas-card-title-wrapper">
                    <h3 class="atlas-card-title atlas-card-title-with-button d-inline-block">With A Button</h3>
                    <button class="btn atlas-primary">Button</button>
                </div>
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card atlas-card">
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
                <div class="atlas-card-footer">
                    <button class="btn atlas-primary-danger">Button</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="atlas-line  atlas-mb-5">
    <div class="row">
        <div class="col-md-4 atlas-mb-5">
            <div class="card atlas-card">
                <div class="atlas-card-title-forward atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">With A Forward Icon
                        <i class="fal fa-chevron-right float-right atlas-pr-2"></i>
                    </h3>
                </div>
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 atlas-mb-5">
            <div class="card atlas-card">
                <div class="atlas-card-title-backward atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">
                        <i class="fal fa-chevron-left atlas-pr-2"></i>
                        With A Backward Icon
                    </h3>
                </div>
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 atlas-mb-5">
            <div class="card atlas-card">
                <div class="atlas-card-title-wrapper">
                    <h3 class="atlas-card-title d-inline-block">
                        With An Ellipsis
                    </h3>
                    <button class="btn d-inline-block atlas-mb-0">
                        <i class="fal fa-ellipsis-h float-right"></i>
                    </button>
                    <!-- <kendo-menu [items]="items" [openOnClick]="true">
                    </kendo-menu> -->
                </div>
                <div class="atlas-card-body">
                    <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div> -->
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="atlas-line  atlas-mb-5">
    <div class="row">
        <div class="col-md-6 atlas-mb-5">
            <div class="card atlas-card">
                <div class="atlas-card-title-forward atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">Card With A List 
                        <i class="fal fa-chevron-right float-right atlas-pr-2"></i>
                    </h3>
                </div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action atlas-pr-2">
                        Click Me to Go Forward <i class="fal fa-chevron-right float-right"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="atlas-line  atlas-mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card atlas-card">
                <div class="atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">Scrollable Card</h3>
                </div>
                <div class="atlas-card-body atlas-scrollable">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card atlas-card atlas-card-cyan-border-top">
                <div class="atlas-card-title-wrapper">
                    <h3 class="atlas-card-title">Card with a Blue Border Top</h3>
                </div>
                <div class="atlas-card-body">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                        Donec eu libero sit amet quam egestas semper. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>

</section>    

