/*ATLAS BUTTON STYLING*/
.btn {
    &.atlas-primary {
        background-color: $JC-cyan;
        color: $atlas-white;
        @include atlas-button();
        &:hover:not(:disabled) {
            background-color: $JC-cyan-dark;
        }
    }
    &.atlas-primary-danger {
        background-color: $atlas-error;
        color: $atlas-white;
        @include atlas-button();
        &:hover:not(:disabled) {
            background-color: $atlas-error-hover;
        }
    }
    &.atlas-secondary {
        border:2px solid $JC-cyan;
        color: $JC-cyan;
        @include atlas-button();
        &:hover:not(:disabled) {
            background-color: $JC-cyan-light;
        }
    }
    &.atlas-secondary-danger {
        border:2px solid $atlas-error;
        color: $atlas-error;
        @include atlas-button();
        &:hover:not(:disabled) {
            background-color: $atlas-secondary-error-hover;
        }
    }
    &.atlas-tertiary {
        color: $atlas-darker-gray;
        @include atlas-button();
        &:hover:not(:disabled) {
            text-decoration: underline;
        }
    }
}

.atlas-tab-button {
    &.k-button {
        border: none;
        background-color: $atlas-white;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
        @include atlas-heading-one;
        // border-top-left-radius: 0rem;
        // border-bottom-left-radius: 0rem;
        &:hover {
            border-bottom: 3px solid $JC-cyan;
            border-top-left-radius: 0rem;
            border-bottom-left-radius: 0rem;
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
    }
    &.k-state-active {
        border-bottom: 3px solid $JC-cyan;
    }
}

// .atlas-button-group {
//     .k-button {
//         background-color: $JC-blue;
//         color: $atlas-white;
//         font-weight: $atlas-font-weight-bold;
//         border-color: $JC-blue;
//     }
// }