
/* ATLAS OVERRIDES TO THE KENDO GRID*/
.atlas-grid {
    .k-grid, .k-widget {
        color: $atlas-black;
        margin-bottom: $atlas-spacing-base-0;
      //  font-family:$atlas-font-family-sans-serif;
        tbody tr {
           
            &:nth-of-type(even){
                background-color: $atlas-white-gray;
            }
            &:hover, .k-state-hover {
                color: $atlas-black;
                background-color:$JC-blue-light;
                border-color: $atlas-black;
                border-bottom-width: 1px;
                border-style: solid;
            }
        }
        td {
            color: $atlas-black;
            border-color:  $atlas-gray;
            border-width: 0 0 1px 1px;
            &:first-child {
                border-left-width: 0px;
            }
        }
    }
    .k-header {
        color: $atlas-black;
        font-weight: $atlas-font-weight-bold;
        background-color: $atlas-white;
        a {
            color: $atlas-black;
        }
    }
    &.atlas-grid-sm {
        .k-grid, .k-widget {
            td {
                padding: $atlas-spacing-base-quarter $atlas-spacing-base-three-quarters;
            }
        }
    }
    // .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm, 
    // .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm {
    //     vertical-align: middle;
    // }
    // .k-grid-header {
    //     .k-i-sort-asc-sm, .k-i-sort-desc-sm, .k-sort-order {
    //         color: $JC-cyan;
    //         margin-bottom: $atlas-spacing-base-quarter;
    //     }
    //     .k-i-sort-asc-sm::before{
    //         @include atlas-font-awesome-pro-solid;
    //         content: "\f30c";
    //     }
    //     // .k-i-sort-asc-sm::after{
    //     //    @include atlas-font-awesome-duotone();
    //     //     opacity: .5;
    //     //     content: "\10f0de";
    //     // }
    //     .k-i-sort-desc-sm::before{
    //         @include atlas-font-awesome-pro-solid;
    //         content: "\f309";
    //     }
    // }
    .k-pager-wrap .k-link, 
    .k-pager-wrap .k-pager-nav{
        color: $JC-cyan;
        border: 1px solid $atlas-line-color;
        cursor:pointer;
        &:hover{
            color: $JC-blue;
            background-color: $atlas-white-gray;
          //  text-decoration: underline;
        }
        &.k-state-disabled {
            color: $atlas-black;
            cursor: not-allowed;
            background-color: #e9ecef;
            border: 1px solid $atlas-gray;
        }
    }
    .k-pager-numbers .k-state-selected {
        background-color: $JC-cyan;
        border-color: $JC-cyan;
        color: $atlas-white;
        &:hover {
            background-color: $JC-cyan-dark;
            border-color: $JC-cyan-dark;
            color: $atlas-white;
            text-decoration: none;
        }
    }
    @media #{$atlas-mobile-max} {
        .k-grid-pager {
            kendo-pager-prev-buttons, kendo-pager-next-buttons {
                width: 50%;
            }
            &.k-pager-wrap .k-link, 
            &.k-pager-wrap .k-pager-nav {
                height: 50px;
                width: 50%;
                box-sizing: border-box;
            }
            .k-pager-nav + .k-pager-nav {
                margin-left: 0px;
            }
        } 
        .k-pager-wrap {
           // display:block;
            .k-pager-info {
                display:none;
                justify-content: flex-start;
                margin-top: $atlas-spacing-base-half;
                margin-left: $atlas-spacing-base-0;
                margin-right: $atlas-spacing-base-0;
            }
            .k-pager-numbers {
                vertical-align: top;
            }
        }
    }
}

/* ATLAS OVERRIDES TO THE KENDO FILTER POPUP WITHIN THE GRID*/
.atlas-grid-filter-popup {
    .k-popup.k-grid-filter-popup {
        color: $atlas-black;
        border-radius: 0px;
        @include atlas-box-shadow-one;
        .k-dropdown .k-dropdown-wrap, 
        .k-dropdowntree .k-dropdown-wrap {
            border: 1px solid $atlas-line-color;
            color: $atlas-black;
            border-radius: 1px;
            background-color: $atlas-white;
            .k-select {
                    .k-i-arrow-s {
                        &::before {
                        @include atlas-font-awesome-pro-solid;
                        content: "\f078";
                        }
                    }
                    .k-icon {
                        color: $JC-orange;
                    }
                }
        }
        .k-action-buttons .k-button {
            padding: $atlas-spacing-base-quarter $atlas-spacing-base-three-quarters;
        }
    }
}