.atlas-dialog {
    color: $atlas-black;
    //border-radius: 5px;
    .k-window-titlebar, .k-dialog-titlebar {
        background-color: $atlas-off-white-two;
    }
    .k-window-title {
        font-size: $h2-font-size;
        @media #{$atlas-mobile-range} {
           font-size: $h2-font-size * 0.85;
        }
    }
    .k-widget[role="dialog"], .k-window [role="dialog"], .k-dialog[role="dialog"] {
        border-radius: .25rem;
        width:900px;
        @media #{$atlas-tablet-range} {
            width:700px;
        }
        @media #{$atlas-mobile-range} {
            width:500px;
            margin: auto 10px;
        }
        @media #{$atlas-mobile-xs-range} {
            width: 320px;
            margin: auto 10px;
        }
    }
    .k-window-content {
        max-height: 500px;
    } 
    .k-window-action {
        opacity: 1;
        .k-i-x {
            &::before {
                color: $atlas-black;
                font-size: $atlas-font-size-base * 2;
                position: absolute;
                right: -15px;
                bottom: -10px; 
            }
        }
    }

    .k-dialog-button-layout-stretched {
        padding: $atlas-spacing-base;
        -webkit-box-align: center;
        align-items:center
    }
    .k-dialog-buttongroup {
        justify-content: center;
        background-color:$atlas-off-white-two;
        @media #{$atlas-mobile-range} {
            button {
                margin-right: $atlas-spacing-base-0;
            }
        }
    }
    /*Atlas Kendo Sliding Modal*/ 
    &.atlas-sliding-kendo-dialog {
        &.atlas-dialog-sm {
            .k-widget[role="dialog"], .k-window [role="dialog"], .k-dialog[role="dialog"] {
                width:320px;
                @media only screen and (max-width: 767.98px) {
                    width: 100%;
                    margin:0px;
                }
            }
        }
        .atlas-no-close-button {
            .k-window-actions {
                display: none;
            }
        }
        .k-widget[role="dialog"], .k-window [role="dialog"], .k-dialog[role="dialog"] { 
            position: fixed;
            min-height: 100%;
            border-radius: 0rem;
            right: 0px;
            // animation-name: example;
            // animation-duration: .5s;
            // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //Use to Support IE 10 and above
            //     /* IE10+ CSS styles go here */
            //     animation-name: example;
            //     animation-duration: .5s;
            //     @keyframes example {
        
            //         0% {   right: -320px; } 
            //         100% {  right: 0px; } 
                    
            //     }
    
            // }
            @media only screen and (max-width: 767.98px) {
                width: 100%;
            }
        }
        .k-dialog-buttongroup {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //Use to Support IE 10 and above
            /* IE10+ CSS styles go here */
            height: auto;
            .k-dialog-buttongroup {
                position: absolute;
                bottom: 0px;
                width: 100%;
            }

        }
    }
    /*Atlas Kendo Sliding Modal*/
}