.atlas-table{
    .table {
        color: $atlas-black;
        margin:$atlas-spacing-base-0;
        thead {
            th {
                border-bottom: 1px solid $atlas-blue-gray;
            }
        }
        th, td {
            border-top: 1px solid $atlas-blue-gray;
        }
        &.table-hover tbody tr {
            &:hover {
                color: $atlas-black;
                background-color: $atlas-white-gray;
            }
        }
        th[scope=row] {
            font-weight:$atlas-font-weight-normal;
        }
    }
    &.atlas-table-accordion {
        .table {
            display:table;
            @media #{$atlas-tablet-range} {
                display:none;
            }
        }
        .accordion {
            display:none;
            @media #{$atlas-tablet-range} {
                display:block;

                button {
                    width: 100%;
                    text-align: left;
                    border-radius: 0px;
                    &.collapsed {
                        &::after {
                            float: right;
                            @include atlas-font-awesome-content();
                            content: "\f054";
                        }
                    }
                    &::after {
                        float: right;
                        @include atlas-font-awesome-content();
                        content: "\f078";
                    }
                   &:not(.collapsed){
                        border-bottom: 1px solid $atlas-blue-gray;
                   }
                    
                }
                .atlas-card {
                    h2,h3,h4,h5,h6 {
                        &:hover {
                            background-color: $atlas-white-gray;
                        }

                        //background-color: $atlas-white-gray-two;
                    }
                }
            }
        }
    }
    &.atlas-table-card-list {
        @media #{$atlas-tablet-range} {
            	/* Force table to not be like tables anymore */
                table, thead, tbody, th, td, tr { 
                    display: block; 
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr {
                    position: absolute; 
                    overflow: hidden; 
                    clip: rect(0 0 0 0); 
                    height: 1px; 
                    width: 1px; 
                    margin: -1px; 
                    padding: $atlas-spacing-base-0;
                    border: 0; 
                }
                .table-hover tbody tr {
                    border: 1px solid  $atlas-blue-gray;
                    &:hover {
                        color: $atlas-black;
                        background-color: $atlas-white;
                    }
                }
                td,th[scope=row] { 
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid  $atlas-blue-gray;
                    position: relative;
                    padding-left: 45%; 
                    white-space: normal;
                    text-align:left;
                    &:hover {
                        background-color: $atlas-white-gray;
                    }
                    &:last-child {
                        border:none;
                    }
                }
                 td:before,th[scope=row]::before { 
                    /* Now like a table header */
                    position: absolute;
                    left: 6px;
                    width: 40%; 
                    //padding-right: $atlas-spacing-base-three-quarters; 
                    white-space: nowrap;
                    text-align:left;
                    font-weight: bold;
                    content: attr(data-title); 
                }
            }
    }
}

/* ATLAS OVERRIDES TO THE KENDO GRID*/
.atlas-grid {
    .k-grid, .k-widget {
        color: $atlas-black;
        font-family:$atlas-font-family-sans-serif;
        tbody tr {
           
            &:nth-of-type(even){
                background-color: $atlas-white-gray;
            }
            &:hover, .k-state-hover {
                color: $atlas-black;
                background-color:$JC-blue-light;
                border-color: $atlas-black;
                border-bottom-width: 1px;
                border-style: solid;
            }
        }
        td {
            color: $atlas-black;
            border-color:  $atlas-gray;
            border-width: 0 0 1px 1px;
            &:first-child {
                border-left-width: 0px;
            }
        }
    }
    .k-header {
        color: $atlas-black;
        font-weight: $atlas-font-weight-bold;
        background-color: $atlas-white;
    }
    &.atlas-grid-sm {
        .k-grid, .k-widget {
            td {
                padding: $atlas-spacing-base-quarter $atlas-spacing-base-three-quarters;
            }
        }
    }
    .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm, 
    .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm {
        vertical-align: middle;
    }
    .k-grid-header {
        .k-i-sort-asc-sm, .k-i-sort-desc-sm, .k-sort-order {
            color: $JC-cyan;
        }
        .k-i-sort-asc-sm::before{
            @include atlas-font-awesome-content();
            content: "\f0de";
        }
        .k-i-sort-desc-sm::before{
            @include atlas-font-awesome-content();
            content: "\f0dd";
        }
    }
    .k-pager-wrap .k-link, 
    .k-pager-wrap .k-pager-nav{
        color: $JC-cyan;
        border: 1px solid $atlas-line-color;
        cursor:pointer;
        &:hover{
            color: $JC-blue;
            background-color: $atlas-white-gray;
          //  text-decoration: underline;
        }
        &.k-state-disabled {
            color: $atlas-black;
            cursor: not-allowed;
            background-color: #e9ecef;
            border: 1px solid $atlas-gray;
        }
    }
    .k-pager-numbers .k-state-selected {
        background-color: $JC-cyan;
        border-color: $JC-cyan;
        color: $atlas-white;
        &:hover {
            background-color: $JC-cyan-dark;
            border-color: $JC-cyan-dark;
            color: $atlas-white;
            text-decoration: none;
        }
    }
    @media #{$atlas-mobile-range} { 
        .k-pager-wrap {
            display:block;
            .k-pager-info {
                justify-content: flex-start;
                margin-top: $atlas-spacing-base-half;
                margin-left: $atlas-spacing-base-0;
                margin-right: $atlas-spacing-base-0;
            }
            .k-pager-numbers {
                vertical-align: top;
            }
        }
    }
}
  
			