<h1>Breadcrumbs</h1>
<p>A symbol from the famous Hansel and Gretel fairy tale, breadcrumbs, in UX, refers to a secondary navigation
 that shows a user’s location in a site or web app. Featuring a list of links, and the heading of the current page, 
 breadcrumbs answer two key questions for the user: </p>

 <ul>
     <li>Where am I?</li>
     <li>Where can I go from here?</li>
 </ul>
<hr>
<nav aria-label="breadcrumb">
    <ol class="atlas-breadcrumb">
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Home</a></li>
        <li class="atlas-breadcrumb-item active" aria-current="page">Page Two</li>
    </ol>
</nav>
<nav aria-label="breadcrumb">
    <ol class="atlas-breadcrumb">
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Home</a></li>
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Page Two</a></li>
        <li class="atlas-breadcrumb-item active" aria-current="page">Page Three</li>
    </ol>
</nav>
<nav aria-label="breadcrumb">
    <ol class="atlas-breadcrumb">
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Home</a></li>
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Page Two</a></li>
        <li class="atlas-breadcrumb-item"><a href="#" class="atlas-link">Page Three</a></li>
        <li class="atlas-breadcrumb-item active" aria-current="page">Page Four</li>
    </ol>
</nav>