<h1>Badges</h1>
<p>Documentation and examples for badges, our small count and labeling component.</p>

<div class="atlas-card">
    <div class="atlas-card-body">
        <p><span class="badge badge-pill atlas-primary atlas-badge">Primary</span></p>
        <p><span class="badge badge-pill atlas-info atlas-badge">Info</span></p>
        <p><span class="badge badge-pill atlas-success atlas-badge">Success</span></p>
        <p><span class="badge badge-pill atlas-danger atlas-badge">Danger</span></p>
        <p><span class="badge badge-pill atlas-caution atlas-badge">Caution</span></p>
        <p><span class="badge badge-pill atlas-light atlas-badge">Light</span></p>
    </div>
</div>
<hr class="atlas-hr">
<div class="atlas-card">
    <div class="atlas-card-body">
        <p><span class="badge atlas-primary atlas-badge-number">0</span></p>
        <p><span class="badge atlas-info atlas-badge-number">1</span></p>
        <p><span class="badge atlas-success atlas-badge-number">2</span></p>
        <p><span class="badge atlas-danger atlas-badge-number">3</span></p>
        <p><span class="badge atlas-caution atlas-badge-number atlas-badge-number-xl">99</span></p>
        <p><span class="badge atlas-light atlas-badge-number">5</span></p>
    </div>
</div>
