<h1>Notifications</h1>

<!-- <p>Notifications float in front of page content and provide information 
    about page-level or out-of-view events. There are four types: error, caution, success, or informational.
</p> -->

<h2>Error</h2>
<!-- <p>Use for page-level errors and malfunctions, such as a file import failure or insufficient permissions to view content, or for errors that occur off of the page, such as failure to generate a report that was being created in the background.</p> -->
<div class="row">
    <div class="col-md-6">
        <div class="atlas-notification atlas-error">
            <div class="atlas-notification-status">
                <i class="fas fa-exclamation-circle fa-lg"></i>
            </div>
            <div class="atlas-notification-body">
                <p class="atlas-text-slim">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- <div>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div> -->
                <!-- <ul>
                    <li>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        Consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<h2>Caution</h2>
<!-- <p>Use for a message requiring attention but not resolution in order to continue, such as sharing a file with someone who does not have permissions to view it.</p> -->
<div class="row">
    <div class="col-md-6">
        <div class="atlas-notification atlas-caution">
            <div class="atlas-notification-status">
                <i class="fas fa-exclamation-triangle fa-lg"></i>
            </div>
            <div class="atlas-notification-body">
                <p class="atlas-text-slim">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>
<h2>Success</h2>
<!-- <p>Use for successes and completions, such as a report-generation or file upload completion, sent message confirmation, successfully adding investments to a list, or successfully saving updated settings.</p> -->
<div class="row">
    <div class="col-md-6">
        <div class="atlas-notification atlas-success">
            <div class="atlas-notification-status">
                <i class="fas fa-check-circle fa-lg"></i>
            </div>
            <div class="atlas-notification-body">
                <p class="atlas-text-slim">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>
<h2>Informational</h2>
<!-- <p>Use for immediate feedback that a background process is happening. For example, a report is being generated or a file is being imported.</p> -->
<div class="row">
    <div class="col-md-6">
        <div class="atlas-notification atlas-info">
            <div class="atlas-notification-status">
                <i class="fas fa-info-circle fa-lg"></i>
            </div>
            <div class="atlas-notification-body">
                <p class="atlas-text-slim">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- <button class="atlas-notification-dimiss btn">
                <i class="fas fa-times"></i>
            </button> -->
        </div>
    </div>
</div>
<hr class="atlas-hr">