<!-- [ngClass]="{'overflow-hidden': navExpanded}" -->
<app-atlas-header></app-atlas-header>
<app-atlas-navigation></app-atlas-navigation>
<!-- [ngStyle]="{'top.px': atlasImpersonation.offsetHeight + atlasHeader.offsetHeight }" -->
<main id="atlas-main" class="atlas-main-content"  [ngClass]="{'atlas-main-content-expanded': data.navExpanded}">
    <div class="atlas-gutters">
        <router-outlet></router-outlet>
    </div>
</main>

<!-- [ngStyle]="{'top.px': atlasImpersonation.offsetHeight + atlasHeader.offsetHeight }" -->
<app-atlas-footer id="atlas-footer"  class="atlas-footer position-relative" [ngClass]="{'atlas-footer-expanded': data.navExpanded}"></app-atlas-footer>

