
.atlas-header {
    background-color: $JC-blue;
    color: $atlas-white;
    @include atlas-box-shadow-one;
    position: fixed;
    top: 0px;
    z-index: $zindex-sticky;
    height: $header-height;
    display: flex;
    align-items:center;
    align-content: center;
    @include atlas-transition-one;
    width: 100%;
    @media #{$atlas-tablet-max}{
        height: $header-mobile-height;
    }
    .atlas-header-logo-container {
       width: $navigation-width;
       display: flex;
       align-items:center;
       @media #{$atlas-tablet-max}{
        @include atlas-transition-one;
           width: 100%;
           display: block;
           -webkit-box-align: center;
           align-items: center;
           -webkit-box-pack: center;
           justify-content: center;
           position: relative;
           float: left;
           text-align: center;
       }
       &.atlas-no-logo {
           width: $navigation-mini-width;
           .atlas-nav-menu-button {
               margin-left: inherit;
               padding-left: $atlas-spacing-base-half;
           }
       }
        .jclt-logo-link {
            @media #{$atlas-tablet-max} {
                display:inline-block;
                margin:0 auto;
            }
            img {
                width:139px;
                height:47px;
                @media #{$atlas-tablet-max} {
                    width:100px;
                    height:35px;
                }
            }
        }
        .atlas-nav-menu-button {
            color: $atlas-white;
            margin-left:auto;
            padding-right: $atlas-spacing-base-0;
            padding-top: $atlas-spacing-base-three-quarters;
            @media #{$atlas-tablet-max} {
                right: auto;
                left: 0;
                top: 0px;
                position: absolute;
                margin-left: $atlas-spacing-base-0;
                padding-right: $atlas-spacing-base;
                padding-top: $atlas-spacing-base-half;
            }
        }
    }
    .atlas-logo-wrapper {
        @media #{$atlas-tablet-max}{
            position: absolute;
            width: 100%;
        }
    }
}